[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opensynth-energy = {editable = true, path = "."}
wget = "*"
pandas = "*"
tqdm = "*"
numpy = "*"
pytorch-lightning = "*"
scikit-learn = "*"
matplotlib = "*"
opacus = "*"
torch = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
ipython = "*"
jupyterlab = "*"
typer = "*"

[requires]
python_version = "3.11"
