[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wget = "*"
pandas = "*"
tqdm = "*"
numpy = "*"
typer = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
ipython = "*"

[requires]
python_version = "3.11"
